<div id="<%= dom_id ticket %>">
  <p>
    <strong>From:</strong>
    <%= ticket.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= ticket.to %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= ticket.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= ticket.time %>
  </p>

</div>
